* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color : black;
}
#exampleImg {
    display: block;
    height: 100%;
    width: 100%;
}
#movieGrid {
    display: flex;
    justify-content: center;
}
#grid {
    display: grid;
    margin: 100px 0px 100px 0px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 27vw;
    justify-content: space-between;
    border: 0px solid black;
    grid-gap: 2px;
    border-color: black;
    aspect-ratio: 3 / 4.5;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    aspect-ratio: 1 / 1.5;
    background-color: blue;
    border: 0px solid black;
    border-color: black;
}