* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color : black;
}

#item1 {
    display: block;
    height: 100%;
    width: 100%;
}
#movieGrid {
    display: flex;
    justify-content: center;
}
#grid {
    display: grid;
    margin: 100px 30px 100px 0px;
    /* margin: 5vh 0vw 5vh 3vw; Have to use clamp here */
    grid-template-rows: 1fr repeat(3, 4fr);
    grid-template-columns: 1fr repeat(3, 1fr);
    width: 30vw;
    justify-content: space-between;
    border: 0px solid black;
    grid-gap: 2px;
    border-color: black;
    aspect-ratio: 3 / 4.5;
}

box {
    display: flex;
}

.movieBox {
    justify-content: center;
    align-items: center;
    text-align: center;
    aspect-ratio: 1 / 1.5;
    background-color: blue;
    border: 0px solid black;
    border-color: black;
}

.movieBox:hover {
    background-color: darkblue;
}

.criteria {
    /* Have to use clamp here */
    font-size: clamp(0.5rem, 1vw, 1.2rem);
    background-color: blue;
    color: aqua;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1100px) {
    .criteria {
        font-size: clamp(0.5rem, 2vw, 1rem)
    }

    #grid {
        width: 40vw;
    }
}

@media (max-width: 600px) {
    .criteria {
        font-size: clamp(0.5rem, 2vw, 1rem)
    }
    #grid {
        width: 60vw;
    }
}

/* .criteriaColumn {
    
} */

.criteriaRow {
    padding: 2px;
}